<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="../bower_components/google-map/google-map-marker.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="../bower_components/paper-password-input/min-length-validator.html">

Access-Control-Allow-Origin: *

<dom-module id="my-cuentas" on-load="getAccounts">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      google-map {
         height: 400px;
         width: 400px;
       }
       .olvido {
         font-size: 10px;
         font-weight: bold;

       }
    </style>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <a href="/cuentas" on-click="_closeApp">Salir</a>
        </div>
      </div>
    </div>
    <div class="card container border border-info rounded col-8" hidden$={{logado}}>
      <div class="row">
        <div class="col-12">
          <h1>Ingreso</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <paper-input label="Usuario*" value="{{username::input}}" maxlength="12" type="String"></paper-input>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <min-length-validator id="min-length-validator" min-length="6"></min-length-validator>
          <paper-password-input label="Contraseña*" value="{{password::input}}" auto-validate validator="min-length-validator" error-message="[[error]]"></paper-password-input>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <br><br>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button on-click="login" class="btn btn-info">Ingresar</button>
        </div>
        <div class="col-12">
          <a href="/recupera" class="olvido">Recuperaci&oacute;n de contrase&ntilde;a</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row" hidden$={{!logado}}>
        <div class="card"  hidden$={{!showacc}}>
          <div class="container">
            <div class="row">
              Nombre: [[nombre]]
            </div>
            <div class="row">
              Apellido: [[apellido]]
            </div>
            <div class="row">
              email: [[email]]
            </div>
            <div class="row">
              <table class="table table-striped col-lg-12 col-xs-12">
                <thead>
                  <th>Cuenta</th>
                  <th>No. Tarjeta</th>
                </thead>
                <tbody>
                  <template is="dom-repeat" items="{{accounts}}" index-as="index">
                    <tr>
                      <td>
                        <a href="/cuentas" on-click="getMovs" indexed$=[[index]]>[[item.account]]</a>
                      </td>
                      <td>
                      [[item.card]]
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>

            </div>
          </div>
        </div>
        <div class="card" hidden$={{!showmovs}}>
          <table class="table table-striped col-lg-12 col-xs-12" >
            <thead>
              <th>Departamento</th>
              <th>Descripci&oacute;n</th>
              <th>Divisa</th>
              <th>Monto</th>
              <th>Localizaci&oacute;n</th>
            </thead>
            <tbody>
              <template is="dom-repeat" items="{{movimientos}}" index-as="index">
                <tr>
                  <td>[[item.department]]</td>
                  <td>[[item.description]]</td>
                  <td>[[item.currency]]</td>
                  <td>[[item.amount]]</td>
                  <td>
                    <a href="/cuentas" on-click="getMap" indexed$=[[index]]>ver</a>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
          <div class="row">
            <a href="/cuentas" on-click="getBack">Regresar</a>
          </div>
          <div class="card" hidden$={{!showMap}}>
            <a href="/cuentas" on-click="closeMap" indexed$=[[index]]>ocultar</a>
            <google-map latitude="{{latitud}}" longitude="{{longitud}}" zoom="11" api-key="[[apikey]]">
              <google-map-marker latitude="{{latitud}}" longitude="{{longitud}}" title="Casa de Campo de Madrid"></google-map-marker>
            </google-map>
          </div>
        </div>
      </div>
    </div>
    <!--
    <div class="row">
      <button value="Load" type="button" name="button" on-click="getAccounts"
      class="btn btn-success col-xs-12 col-lg-4">Get</button>
    </div>
  -->
  <iron-ajax
    id="doLogin"
    url="http://localhost:3002/v3/login"
    content-type = "application/json"
    crossDomain=true
    dataType= 'jsonp'
    method="POST"
    handle-as="json"
    headers="Access-Control-Allow-Headers: *"
    on-response="manageAJAXResponse"
    on-error="showError"></iron-ajax>
  </template>

  <script>
    class MyCuentas extends Polymer.Element {
      static get is() { return 'my-cuentas'; }
      static get properties() {
        return {
          accounts: {
            type: Array,
            notify: true
          },
          nombre: {
            type: String
          },
          apellido: {
            type: String
          },
          email: {
            type: String
          },
          id: {
            type: String
          },
          token: {
            type: String,
            notify: true
          },
          movimientos: {
            type: Array,
            notify: true
          },
          showmovs: {
            type: Boolean,
            value: false
          },
          showacc: {
            type: Boolean,
            value: false,
            notify: true
          },
          showMap: {
            type: Boolean,
            value: false,
            notify: true
          },
          username: {
            type: String,
            notify: true
          },
          password: {
            type: String,
            notify: true
          },
          logado: {
            type: Boolean,
            value: false,
            notify: true
          },
          apikey: {
            type:String,
            value: "AIzaSyD6oa0GZJOgKbussM7p5_4sMshr4_4ubk0"
          },
          longitud: {
            type: String
          },
          latitud: {
            type: String
          },
          error: {
            type: String,
            value: "Ingresar al menos 6 caracteres",
            notify: true
          }
        };
      }
      getAccounts(){
        var url = "http://localhost:3002/v1/Clients/" + this.id;
        var request = new XMLHttpRequest();
        request.open("GET",url,false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("token",this.token);

        request.send();
        var resp = JSON.parse(request.responseText);
        console.log(resp);
        this.nombre = resp[0].first_name;
        this.apellido = resp[0].last_name;
        this.email = resp[0].email;
        this.accounts = resp[0].accounts;
        this.showacc = true;
      }
      getMovs(e){
        var index = e.target.getAttribute('indexed');
        console.log(this.accounts[index].account);
        var url = "http://localhost:3002/v1/Clients/" + this.id + "/Movments/" + this.accounts[index].account;
        var request = new XMLHttpRequest();
        request.open("GET",url,false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("token",this.token);

        request.send();
        var resp = JSON.parse(request.responseText);
        console.log(resp);
        this.movimientos = resp[0].accounts[0].movments;
        this.showacc = false;
        this.showmovs = true;
      }

      login(){
        var loginData = {
          "username":this.username,
          "password":this.password
        }
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log('Petición Enviada por Iron Ajax');
      }

      manageAJAXResponse(data){
        console.log('Respuesta OK');
        this.logado = true;
        const resp = data.detail.response;
        console.log(JSON.stringify(resp,null,' '));
        this.token = resp.token;
        this.id = resp.idClient;
        this.getAccounts();
        this.showacc = true;
        this.showmovs = false;
        this.showMap = false;

      }

      showError(error){
        console.error('Error de ejecución Iron Ajax',error);
        alert('Acceso no permitido: Validar usuario y contraseña');
        //this.error = "Acceso no permitido: Validar usuario y contraseña"
        this.password = ""

      }

      getBack(){
        this.showacc = true;
        this.showmovs = false;
        this.showMap = false;
      }

      _closeApp(){
        this.token = null;
        this.username = null;
        this.password = null;
        this.logado = false;
        this.showmovs = false;
        this.showacc = false;

      }

      getMap(e){
        var indexMov = e.target.getAttribute('indexed');
        this.showMap = true;
        console.log(this.movimientos[indexMov].location);
        this.latitud = this.movimientos[indexMov].location.latitud;
        this.longitud = this.movimientos[indexMov].location.longitud;

      }

      closeMap(e){
        this.showMap = false;
      }

    }

    window.customElements.define(MyCuentas.is, MyCuentas);

  </script>

</dom-module>
