<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="../bower_components/paper-password-input/match-passwords-validator.html">
<link rel="import" href="../bower_components/paper-password-input/min-length-validator.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<dom-module id="my-registro">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .error {
        color: red;
      }
    </style>
    <div class="card">
      <div class="container">
        <div class="row">
          <h1>[[title]]</h1>
        </div>
        <div class="card error" hidden$=[[!showMsj]]>
          [[msj]]
        </div>
        <div class="row">
          <div class="col-10">
            <paper-input label="Número del Cliente*" value="{{idClient::input}}" maxlength="3" type="Number"></paper-input>
            <!--<input type="text" name="idClient" value="{{idClient::input}}" placeholder="Id del Cliente">-->
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <paper-input label="Nombre Cliente*" value="{{nombre::input}}" maxlength="40" type="String"></paper-input>
            <!--<input type="text" name="nombre" value="{{nombre::input}}" placeholder="Nombre">-->
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <paper-input label="Apellido Cliente*" value="{{apellido::input}}" maxlength="80" type="String"></paper-input>
            <!--<input type="text" name="apellido" value="{{apellido::input}}" placeholder="Apellido">-->
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <paper-input label="Email*" value="{{email::input}}"maxlength="40" type="email" auto-validate error-message="email no valido"></paper-input>
            <!--<input type="email" name="email" value="{{email::input}}" placeholder="email">-->
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <paper-input label="Usuario*" value="{{username::input}}"maxlength="12" type="String"></paper-input>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <min-length-validator id="min-length-validator" min-length="6"></min-length-validator>
            <paper-password-input label="Contraseña*" value="{{password::input}}" auto-validate validator="min-length-validator" error-message="Ingresar al menos 6 caracteres"></paper-password-input>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <paper-password-input label="Confirma Contraseña*" value="{{confirma::input}}" auto-validate validator="match-passwords-validator" error-message="Confirmación no coincide"></paper-password-input>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <button type="button" name="button" on-click="registro" class="btn btn-info">[[title]]</button>
          </div>
        </div>
      </div>
    </div>
    <iron-ajax
      id="register"
      url="http://localhost:3002/v1/Clients"
      content-type = "application/json"
      crossDomain=true
      dataType= 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>
  </template>

  <script>



    class MyRegistro extends Polymer.Element {
      static get is() { return 'my-registro'; }
      static get properties() {
        return {
          nombre: {
            type : String,
            notify : true
          },
          apellido: {
            type : String,
            notify: true
          },
          idClient: {
            type : Number,
            notify : true
          },
          email: {
            type : String,
            notify : true
          },
          username: {
            type : String
          },
          password: {
            type : String,
            notify: true
          },
          confirma : {
            type: String
          },
          msj: {
            type : String,
            notify : true
          },
          showMsj: {
            type :  Boolean,
            notify : true,
            value :  false
          },
          token : {
            type: String,
            notify: true
          },
          title : {
            type: String,
            notify: true
          }
        };
      }

      registro(){
        if (this.confirma == this.password) {
          var regData = {
            	"idclient":this.idClient,
            	"firstName":this.nombre,
            	"lastName":this.apellido,
            	"email":this.email,
            	"username":this.username,
            	"password":this.password
            }
          var dataSend = JSON.stringify(regData);
          this.$.register.body = dataSend;
          this.$.register.generateRequest();
          console.log('Petición Enviada por Iron Ajax');
        } else {
          this.msj = 'La confirmación de la contraseña no concuerda';
          this.showMsj = true;
        }

      }

      manageAJAXResponse(data){
        console.log('Respuesta OK');
        const resp = data.detail.response;
        console.log(JSON.stringify(resp,null,' '));
        if(resp.idclient == this.idClient){
          this.nombre = null;
          this.apellido = null;
          this.idClient = null;
          this.email = null;
          this.username = null;
          this.password = null;
          this.confirma = null;
          this.msj = "Operación exitosa";
          this.showMsj = true;
        }
      }

      showError(error){
        console.error('Error de ejecución Iron Ajax',error);
        this.msj = 'La información no concuerda';
        this.showMsj = true;
      }

    }

    window.customElements.define(MyRegistro.is, MyRegistro);
  </script>
</dom-module>
